/build/
/dist/
/dist-ssr/

# environment
/.env*

# dependencies
node_modules/

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# editor settings
/.vscode/
/.jshint*
jsconfig.json

# Logs
tmp
logs
*.log*
*.local
.DS_Store
