html,
body {
  margin: 0;
  -webkit-overflow-scrolling: touch;
	overflow: hidden;
	overscroll-behavior: none;
  touch-action: none;
}

.App {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(30,30,30,1) 20%, rgba(0,0,0,1) 120%);
}
